.backgroundImage {
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 140px;
  position: absolute;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: lightgray;
  mix-blend-mode: darken;
  z-index: -1;
}


.logo {
  width: 100px;
  height: 100px;
  left: 15px;
  top: 15px;
  position: relative;
}

#header {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 30px 30px;
}

#content {
  position: relative; /* Keeps everything in normal flow */
  min-height: 100vh; /* At least full screen height */
  padding-top: 80px; /* Offset to prevent header overlap */
  background-image: url("../../resources/images/Trollstigen.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#styledContainer {
  position: absolute; /* Ensures it's above the background */
  justify-content: space-between;
  flex-direction: row;
  z-index: 1; /* Higher than the background */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1200px;
  margin: 10px auto;
  background: white;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
  background-position: center;
  display: flex;
}




.pickup-dropoff {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0% 3% 2% 3%;

}

.pickup-dropoff-text {
  color: #252422;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: left;
  display: flex;
}

.show-cars {
  display: flex;
  justify-content: center;  /* Centers horizontally */
  align-items: center;      /* Centers vertically */
  padding-right: 5.55%;
}

.show-cars-button {
  background: #EB5E28;
  width: 100%;
  height: 50%;
  color: white;
  font-family: Inter, serif;

}

.date-picker {
  width: 400px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 3px solid #484848;
  display: flex;
  justify-content: space-between;
}

.date-picker-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 16.67%;
  padding-right: 16.67%;
}

.divider {
  width: 3px; /* Thin vertical line */
  height: 100%; /* Full height of parent */
  background: #252422;
  display: flex;
  justify-content: center;
}

.text {
  color: #252422;
  font-size: 30px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}


.hamburger-menu {
  width: 25px;
  height: 25px;
  align-self: center;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}