/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #252422;
}

/* Main Content Styles */
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  justify-content: space-evenly;
  
}

/* Header Styles */

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 10vh 0 10vh;
  
}


.driver-information-form {
  padding: 20px;
  height: 80dvh;
  width: 50%;
  min-width: 30em;
  min-height: fit-content;
  margin: 20px;
  background-color: #FFFCF2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*I want the items to be right side*/
  
}

.car-information-form {
  padding: 20px;
  height: 80dvh;
  width: 30%;
  min-width: 20em;
  min-height: fit-content;
  margin: 20px;
  background-color: #FFFCF2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.rectangle-display {
  width: 15vw;
  aspect-ratio: 7/5;
  border-radius: 15px;
  background: radial-gradient(50% 50% at 50% 50%, #fffcf2, #403d39);
  position: relative; 
}

.rectangle-display > img {
  width: 10vw;
  object-fit:cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Form Styles */
form label {
  font-size: 26px;
  font-weight: 500;
}

form input, form select, form textarea {
  background-color: #FFFCF2;
  border: none;
  border-bottom: 2px solid #EB5E28;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
}

button {
  padding: 20px;
  background-color: #EB5E28;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  width: 50%;
}

form button:hover {
  background-color: #eb5f28c9;
}

/* Car Information Styles */
.car-information-form {
  display: flex;
  flex-direction: column;
}

.car-rental-header {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  height:fit-content;
  width: 100%;
}

.rectangle-display {
  grid-column: 1;
  grid-row: 1;
}

.car-rental-details {
  grid-column: 2;
  grid-row: 1;
}

.rental-schedule-container {
  display: grid;
  display: flex;
  flex-direction: row;
}
.rental-schedule-logos {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin: 1em;
  margin-top: 0.5em;
}
.vertical-line {
  width: 2px;
  background-color: black;
  height: 25%; /* Adjust the height as needed */
  margin: 0em 1em; /* Optional: Add some margin to create space around the line */
}

.rental-schedule-logos img{
  width: 26px;
  aspect-ratio: 1/1;
}
.rental-schedule-text {

}

/* Grid Styles */

h2 {
  font-size: 26px;
  font-weight: 500;
}



.grid-container {
  display: grid;
  grid-template-columns: 2r 2fr;
  grid-column-gap: 8em;
  grid-row-gap: 1em;
}

.grid-container > div {
  display: flex;
  flex-direction: column;
}

.driver-information {
  grid-column: 1 / 2;
  grid-row: 1
}

.e-mail {
  grid-column: 1 / 3;
  grid-row: 2
}

.first-name {
  grid-column: 1;
  grid-row: 3
}

.last-name {
  grid-column: 2;
  grid-row: 3
}

.book-car {
  grid-column: 2;
  grid-row: 4
}

.car-name {
  color:#252422;
  font-size: 26px;
}

@media (max-width: 1000px) {
  main {
    flex-direction: column-reverse;
    overflow: auto;
    overflow-y: scroll;
  }
  .driver-information-form {
    width: 80%;
    min-width: 10em;
    min-height:max-content;
  }
  .car-information-form {
    width: 80%;
    min-width: 10em;
    min-height: fit-content;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 1em;
  }
  .driver-information {
    grid-column: 1;
    grid-row: 1
  }

  .e-mail {
    grid-column: 1;
    grid-row: 2
  }

  .first-name {
    grid-column: 1;
    grid-row: 3
  }

  .last-name {
    grid-column: 1;
    grid-row: 4
  }

  .book-car {
    grid-column: 1;
    grid-row: 5
  }
  .rectangle-display {
    width: 30vw;
    aspect-ratio: 7/5;
    border-radius: 15px;
    background: radial-gradient(50% 50% at 50% 50%, #fffcf2, #403d39);
    position: relative; 
  }
  
  .rectangle-display > img {
    width: 20vw;
    object-fit:cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
}