.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
}

#login-create {
  font-size: 20px;
  font-family: serif;
  color: #FFFCF2;

  background: none;
  border: none;
  cursor: pointer;

  padding: 0;
  margin: 0;
}

#logo-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#login-image {
  width: 12.5%;
  height: 25%;
  border-radius: 50%;
  margin-top: 17.5%;
  margin-right: 5%;
}