.complete-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.triple-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px;
}


.sort-bar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 10px;
  margin-left: 25px;
}

.sort-button {
  background-color: #ccc5b9;
  position: relative;
  width: 125px;
  height: 25px;
  margin-right: 10px;
  border-radius: 5px;
}

.passenger-tag {
  background-color: rgba(217, 217, 217, 0.2);
  flex-direction: row;
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin-left: 15px;
  width: 4vw;
  height: 5vh;
  border-radius: 25px;
}

.top-section {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.passenger-count {
  font-family: serif;
  color: #fffcf2;
  font-size: 20px;
  margin-left: 15px;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

